body {
    background: url("what-the-hex-dark.png"), repeat;
}

.block {
    width: 33.3333%;
    height: auto;
}

.custom-select {
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .block {
        width: 95%;
    }
}